input,select{
  width:100%;
  height:25px;
}


.div_form {
  width:65%;
  display:inline-block;
}

.lbl{
  width:35%;
  display:inline-block;
}

.size{
  width:40%;
  display:inline-block;
  padding-left: 5%;
  padding-right: 5%;
}

fieldset{
  margin-left:2%;
  margin-right: 2%;
}
